.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .navbar-brand {
    a {
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: white;
      text-decoration: none;
    }
  }
  .navbar-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    div {
      width: 30px;
      background-color: white;
      height: 2.5px;
      transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
    &:hover {
      div:nth-child(1) {
        transform: translateY(-100%);
      }
      div:nth-child(3) {
        transform: translateY(100%);
      }
    }
  }
  .home-button {
    a {
      border: 1px solid white;
      padding: 10px 15px;
      text-decoration: none !important;
      color: white;
      font-size: 14px;
      transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:hover {
      a {
        background-color: white;
        color: black;
        text-decoration: none;
        transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}
.full-menu {
  width: 75vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
  animation: hideNav 0.5s;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
      .col {
        height: 100%;
      }
    }
  }
  .page-menu {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    li {
      margin-bottom: 20px;
      opacity: 0;
      &.show {
        opacity: 1;
      }
      .nav_link {
        position: relative;
        display: inline-block;
        color: black;
        text-decoration: none;
        font-size: 25px;
        &::after {
          position: absolute;
          bottom: 0px;
          left: 0px;
          content: "";
          width: 0%;
          height: 2px;
          background-color: black;
          transition: width 0.3s ease-in;
        }
        &.active-link {
          color: rgb(47, 137, 252);
          &::after {
            all: initial;
          }
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .nav-close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    cursor: pointer;
    div {
      background-color: black;
      &:nth-child(2) {
        background-color: transparent;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .full-menu {
    width: 50vw;
  }
}
.nav_link_brand {
  color: black;
  text-decoration: none;
}

.full-menu.show {
  display: flex;
  animation: showNav 0.5s;
}

@keyframes showNav {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes hideNav {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(50%);
    opacity: 0;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
