<div class="main-row row text-center">
  <div class="col col-12 mb-5 pb-5">
    <p class="h6 sub-heading text-muted">What I do</p>
    <h1 class="h1 main-heading">My Services</h1>
  </div>
  <div class="col col-12">
    <div class="row">
      <div class="col col-12 col-lg-4 d-flex align-self-stretch">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-3">
            <img src="../../assets/svg/iconfinder-icon.svg" alt="" />
          </div>
          <div class="media-body">
            <h5 class="heading">Website</h5>
            <h5 class="heading">HTML/CSS</h5>
            <h5 class="heading">Responsive Design</h5>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 d-flex align-self-stretch">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-3">
            <img src="../../assets/svg/iconfinder-icon (1).svg" alt="" />
          </div>
          <div class="media-body">
            <h5 class="heading">Web Application</h5>
            <h5 class="heading">Angular/React</h5>
            <h5 class="heading">NodeJs</h5>
          </div>
        </div>
      </div>
      <div class="col col-12 col-lg-4 d-flex align-self-stretch">
        <div class="media block-6 services p-3 py-4 d-block text-center">
          <div class="icon mb-4">
            <img src="../../assets/svg/iconfinder-icon (3).svg" alt="" />
          </div>
          <div class="media-body mt-3">
            <h5 class="heading">Desktop Application</h5>
            <h5 class="heading">Web Scraping</h5>
            <h5 class="heading">Electron/Puppeteer</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
