.projects {
  .project-image {
    height: 510px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 576px) {
  .projects {
    .project-image {
      height: 300px;
    }
  }
}
.portfolio_link {
  position: absolute;
  height: 100%;
  width: 100%;
  display: inline-block;
  top: 0;
  left: 0;
  z-index: 10;
}
