<div class="row contact-row">
  <div class="col col-12 mb-5 pb-5">
    <p class="h6 sub-heading text-muted text-center" data-aos="fade-up">
      Have Any Idea Or Concept
    </p>
    <h1 class="h1 main-heading text-center" data-aos="fade-up">Contact Me</h1>
  </div>
  <div class="col col-12">
    <div class="row">
      <div class="col col-12 col-sm-6 contact-details">
        <p data-aos="fade-right">
          <span class="text-muted">Email:</span
          ><a href="mailto:kushakjafry@gmail.com"> kushakjafry@gmail.com</a>
        </p>
        <p data-aos="fade-right">
          <span class="text-muted">Number:</span
          ><a href="tel:+917872626285"> +917872626285</a>
        </p>
      </div>
      <div class="col col-12 col-sm-6 text-center">
        <p style="color: rgb(168, 11, 11)" *ngIf="error">{{ error }}</p>
        <p style="color: rgb(20, 167, 20)" *ngIf="messageSent">
          {{ messageSent }}
        </p>
        <form
          [formGroup]="FormData"
          (ngSubmit)="onSubmit(FormData.value)"
          novalidate
        >
          <div
            class="loadingio-spinner-rolling-66d5xngzi2 contact-me_spinner"
            [ngClass]="{ 'contact-me_spinner-shown': spinnerShow }"
          >
            <div class="ldio-0u03igrkzr0j">
              <div></div>
            </div>
          </div>
          <div
            class="form__group field"
            data-aos="fade-left"
            [ngClass]="{ 'form-hidden': spinnerShow }"
          >
            <input
              type="input"
              class="form__field"
              placeholder="Name"
              name="name"
              id="name"
              formControlName="name"
              required
            />
            <label for="name" class="form__label">Name</label>
          </div>
          <div
            class="form__group field"
            data-aos="fade-left"
            [ngClass]="{ 'form-hidden': spinnerShow }"
          >
            <input
              type="input"
              class="form__field"
              placeholder="Email"
              name="email"
              id="email"
              formControlName="email"
              required
            />
            <label for="email" class="form__label">Email</label>
          </div>
          <div
            class="form__group field"
            data-aos="fade-left"
            [ngClass]="{ 'form-hidden': spinnerShow }"
          >
            <textarea
              type="input"
              class="form__field"
              placeholder="message"
              name="message"
              id="message"
              rows="3"
              formControlName="message"
              required
            ></textarea>
            <label for="message" class="form__label">Message</label>
          </div>
          <button
            [ngClass]="{ 'form-hidden': spinnerShow }"
            data-aos="fade-up"
            type="submit"
            class="btn btn-primary btn-lg mt-4"
            [disabled]="!FormData.valid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col col-12">
    <div class="social-btn pl-5 pr-5 mt-4 text-center" data-aos="fade-up">
      <a class="btn" href="https://github.com/kushakjafry" target="_blank">
        <div
          [inlineSVG]="'../../assets/svg/icons8-github.svg'"
          [setSVGAttributes]="{ class: 'github' }"
        ></div>
      </a>
      <a
        class="btn"
        href="https://www.linkedin.com/in/kushak-jafry-95087a19b/"
        target="_blank"
      >
        <div
          [inlineSVG]="'../../assets/svg/linkedin.svg'"
          [setSVGAttributes]="{ class: 'linked-in' }"
        ></div>
      </a>
      <a class="btn" href="https://twitter.com/KushakJafry" target="_blank">
        <div [inlineSVG]="'../../assets/svg/twitter.svg'"></div>
      </a>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col col-12 text-center" data-aos="fade-up">
    Copyright ©2021 All rights reserved | Kushak Jafry
  </div>
</div>
