/* You can add global styles to this file, and also import other style files */
@import "./variables";
* {
  box-sizing: border-box;
}
html,
body {
  width: 100% !important;
  height: 100vh;
  margin: 0;
  width: 0;
  background: #121212;
  color: white;
  font-family: "Poppins", "Courier New", Courier, monospace;
  scroll-behavior: smooth;
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.sub-heading {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.social-btn {
  .btn {
    display: inline-block;
    height: 60px;
    width: 60px;
    padding: 18px;
    border-radius: 50%;
    margin-right: 10px;
    border: none !important;
    background-color: rgba(255, 255, 255, 0.05);
    color: $blue-primary;
    &:last-child {
      margin-right: 0px;
    }
    svg {
      height: 24px;
      width: 24px;
      &.linked-in {
        transform: translateY(-3px);
      }
      &.github {
        height: 32px;
        width: 32px;
        transform: translate(-4px, -4px);
      }
    }
    &:hover {
      transform: scale(1.1);
    }
  }
}
