<section class="hero-section">
  <div
    class="h5 text-muted text-center mb-3"
    style="letter-spacing: 4px; text-transform: uppercase"
  >
    Turn Your Concept
  </div>
  <h1 class="tw h1 text-center" style="font-weight: bold; letter-spacing: 4px">
    Into A Working
  </h1>
  <div class="h5 text-center mt-3 d-none d-sm-block sub-heading">
    Full Stack Web Developer
  </div>
  <div>
    <a href="#sec-2">
      <div class="scroll-down"></div>
    </a>
  </div>
  <div class="scroll-down_text">
    <a href="#sec-2"> Read More </a>
  </div>
</section>
<section class="about-section" id="about">
  <app-about></app-about>
</section>
<section class="services-section" id="services">
  <app-service></app-service>
</section>
<section class="portfolio-section" id="portfolio">
  <app-portfolio></app-portfolio>
</section>
<section class="contactus-section" id="contact">
  <app-contactus></app-contactus>
</section>
