<section class="hero-section" id="homeSec">
  <div
    class="lottie-animation d-none d-lg-block"
    data-aos="fade-left"
    data-aos-offset="0"
  >
    <ng-lottie
      [options]="options"
      (animationCreated)="animationCreated($event)"
    ></ng-lottie>
  </div>
  <div
    class="h5 text-muted text-center mb-3"
    style="letter-spacing: 4px; text-transform: uppercase"
    data-aos="fade-right"
  >
    Turn Your Concept
  </div>
  <h1
    class="tw h1 text-center text-sm-left"
    style="font-weight: bold; letter-spacing: 4px"
    data-aos="fade-right"
    data-aos-duration="1000"
  >
    Into A Working
  </h1>
  <div
    class="h5 text-center mt-3 d-none d-sm-block sub-heading"
    data-aos="fade-up"
  >
    Full Stack Web Developer
  </div>
  <div>
    <a
      class="learn-more mt-5"
      style="cursor: pointer"
      (click)="this.scrollService.scrollIntoView('portfolios')"
    >
      <span class="circle" aria-hidden="true">
        <span
          class="icon arrow"
          data-aos="fade-right"
          data-aos-delay="300"
        ></span>
      </span>
      <span class="button-text" data-aos="fade-up" data-aos-delay="600"
        >View My Works HI</span
      >
    </a>
  </div>
  <!-- <div class="d-sm-none">
    <a href="#about" class="scroll-down"
      ><span></span><span></span><span></span>Checkout More</a
    >
  </div> -->
</section>
<section class="portfolio-section" id="portfolioSec">
  <app-portfolio></app-portfolio>
</section>
<section class="services-section" id="servicesSec">
  <app-service></app-service>
</section>
<section class="about-section" id="aboutSec">
  <app-about></app-about>
</section>
<section class="contactus-section" id="contactSec">
  <app-contactus></app-contactus>
</section>
