<section class="hero-section">
  <div
    class="h5 text-muted text-center mb-3"
    style="letter-spacing: 4px; text-transform: uppercase"
    data-aos="zoom-in"
  >
    Turn Your Concept
  </div>
  <h1
    class="tw h1 text-center"
    style="font-weight: bold; letter-spacing: 4px"
    data-aos="zoom-out"
    data-aos-duration="1000"
  >
    Into A Working
  </h1>
  <div
    class="h5 text-center mt-3 d-none d-sm-block sub-heading"
    data-aos="fade-up"
  >
    Full Stack Web Developer
  </div>
  <div>
    <a href="#about" class="scroll-down"
      ><span></span><span></span><span></span>Checkout More</a
    >
  </div>
  <!-- <div class="scroll-down_text">
    <a href="#about"> Read More </a>
  </div> -->
</section>
<section class="about-section" id="about">
  <app-about></app-about>
</section>
<section class="services-section" id="services">
  <app-service></app-service>
</section>
<section class="portfolio-section" id="portfolio">
  <app-portfolio></app-portfolio>
</section>
<section class="contactus-section" id="contact">
  <app-contactus></app-contactus>
</section>
